body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: bold;
}

.button {
  background-color: rgb(247, 174, 174);
  border: black;
  box-shadow: 0px 10px 20px rgba(0,0,0,.332)
}

.button:hover {
  background-color: rgb(105, 66, 66);
}

.button:active {
  background-color: rgb(105, 66, 66) !important;
}


.resize {
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-items: center;
}

.header-hero-text {
  color: black;
}

.mask {
  flex: auto;
  justify-content: center;
  mask-size: 50%;
}

.adoption {
  justify-content: center;
  flex: auto;
}

.hero {
  display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.hero-dimension {
  height: 200px;
}

.card-color {
  /* background-color: rgba(220, 220, 220, .8); */
  background: linear-gradient(60deg, #39ef73d8, #6326ff 100%);
  box-shadow: 0px 10px 20px rgba(0,0,0,.332); 
}

.card-gap {
  row-gap: 20px;
}

.rating-button {
  border-radius: 25% ;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

