body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: bold;
}

.button {
  background-color: rgb(247, 174, 174);
  border: black;
}

.button:hover {
  background-color: rgb(105, 66, 66);
}

.button:active {
  background-color: rgb(105, 66, 66) !important;
}


.resize {
  flex-direction: row;
  width: 85%;
  height: 500px;
  justify-items: center;
}


